**/.next/
**/.open-next/
**/out/
**/build/
**/dist/
node_modules/
.sst/
.turbo/
.git/
pnpm-lock.yaml
*.log
*.zip
*.tsbuildinfo
*.tmp
lint_report.json
coverage/
**/sst-env.d.ts
**/next-env.d.ts
test-results/
reports/
e2e/.auth/
**/.aiready/**
